*{
    box-sizing: border-box;
}
html{
    font-family: 'Tilt Neon', cursive;
}
#preciob2{
    height: 30px;
    border-radius: 20px;
}
#btn-calc2{
    display: block;
    position: relative;
    height: 40px;
    width: 100px;
    font-weight: 700;
    background: linear-gradient(45deg, #8ad192, #03a9f461);
    font-family: 'Tilt Neon';
    left:100px;
}
