*{
    box-sizing: border-box;
}
html{
    font-family: 'Tilt Neon', cursive;
}
#cYear{
    height: 30px;
    border-radius: 20px;
}
#btn-calc2{
    display: block;
    position: relative;
    height: 40px;
    width: 100px;
    font-weight: 700;
    background: linear-gradient(45deg, #8ad192, #03a9f461);
    font-family: 'Tilt Neon';
    left:100px;
    border-radius: 20px;
}
.pass{
    background-color:hsla(120, 100%, 50%, 0.2)
}
.nopass{
    background-color:hsla(356, 100%, 50%, 0.2)
}